.jumbo {
    height: 70vh;
    background-image: url(https://littlevisuals.co/images/sunset.jpg);
}

.col {
    width: 100%;
}

.jtext {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.btext {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.stxt {
    font-size: 12px;
    font-weight: bold;
    transform: "uppercase";
    opacity: 0.5;
}

.cardcont {
    position: absolute;
    top: 5;
}

.ttxt {
    font-size: 20px;
}

.mtxt {
    font-size: 18px;
}

.cf {
    position: absolute;
    bottom: 0;
}