.stxt {
    font-size: 12px;
    font-weight: bold;
    transform: "uppercase";
    opacity: 0.5;
}

.cardcont {
    position: absolute;
    top: 5;
}

.ttxt {
    font-size: 20px;
}

.aright {
    justify-content: flex-end;
}