.logo {
    border-radius: 25px;
    margin-right: 20px;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.txt {
    width: 250px;
    text-align: center;
}